<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>

    <script type="text/javascript" src="/public/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/public/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <%-body -%>

</body>
</html>